.titre-principal{
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 10px;
}
.contenu{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
.msg-maincontainer{
    position: fixed;
    top: 0;
    right: 0;
}
.ng-invalid{
    border-color: #FF0000;
}
.recr_panel{
    cursor: pointer; 
}

.table_row_selected, .table_row:hover{
    background-color: #DDE;
}

.navbar-custom{
    background-color: #FF8020;
}
