<!doctype html>
<html ng-app="recrutement">
<head>
<meta charset="utf8">
<title>TiZouTis</title>
<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="./js/msglib/msglib.css" />
<link rel="stylesheet" href="./css/style.css" />
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-route/angular-route.min.js"></script>
<script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="./js/msglib/msglib.js"></script>
</head>
<body ng-controller="principal as ctrl">
<div class="container-fluid">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-brand">TiZouTis</div>
        <div class="navbar-right" style="margin-right: 5px">
            <button type="button" class="btn btn-success navbar-btn navbar-inverse" ng-click="ctrl.toggle_login_form()" ng-if="!ctrl.user_is_logged">Login</button>
            <button type="button" class="btn btn-danger navbar-btn navbar-inverse" ng-click="ctrl.logout()" ng-if="ctrl.user_is_logged">Logout {{ctrl.user.login}}</button>
        </div>
    </div>
    <div class="contenu" ng-if="ctrl.login_form_shown">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Veuillez vous authentifier</div>
                </div>
                <div class="panel-body">
                    <div class="form">
                        <label for="login">Login</label>
                        <input id="login" type="text" class="form-control" ng-model="ctrl.user.login" placeholder="Login" />
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control" ng-model="ctrl.user.password" placeholder="Password" />
                        <hr />
                        <button type="button" class="btn btn-success pull-right" ng-click="ctrl.login()">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contenu" ng-if="!ctrl.login_form_shown">
        <ul class="nav nav-pills">
            <li ng-if="ctrl.user_is_admin"><a href="#/admin">Administration</a></li>
            <li><a href="#/recrutement">Recrutement</a></li>
            <li><a href="#/annuaire">Annuaire</a></li>
        </ul>
        <div style="margin-top: 5px;">
            <ng-view></ng-view>
        </div>
    </div>
    <msg-dsp></msg-dsp>
</div>
<script src="./js/app.js"></script>
<script src="./js/admin.js"></script>
<script src="./js/recrutement.js"></script>
<script src="./js/annuaire.js"></script>
</body>
</html>
