<!doctype html>
<html ng-app="recrutement">
<head>
<meta charset="utf8">
<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/static/js/msglib/msglib.css" />
<link rel="stylesheet" href="/static/css/style.css" />
<script src="/static/bower_components/angular/angular.min.js"></script>
<script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/static/js/msglib/msglib.js"></script>
</head>
<body ng-controller="principal as ctrl">
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-brand">{{ctrl.titre}}</div>
</div>
<div class="contenu">
    <div class="col-lg-6">
        <div ng-if="ctrl.agents.length">
            <ul class="list-unstyled">
                <li ng-repeat="agent in ctrl.agents" 
                    class="panel" 
                    ng-class="{
                        'panel-primary': ctrl.check_status(agent)==1, 
                        'panel-warning': ctrl.check_status(agent)==2,
                        'panel-danger': ctrl.check_status(agent)==3
                    }" 
                    ng-click="ctrl.edit(agent.id)">
                    <div class="panel-heading">
                        <div class="panel-title">{{agent.nom}} {{agent.prenom}}</div>
                    </div>
                    <div class="panel-body">
                        Arrivée : {{agent.arrivee|datefr}} - Service: <thesaurus ref="{{agent.service_id}}"></thesaurus>
                    </div>
                </li>
            </ul>
        </div>
        <h4 ng-if="!ctrl.agents.length">Pas de recrutement en cours</h4>
        <a ng-click="ctrl.get_old_recrs()">Voir les anciennes fiches</a>
    </div>
    <div class="col-lg-6 col-lg-offset">
        <h3 ng-if="ctrl.current.id">Modification de la fiche de {{ctrl.current.prenom}} {{ctrl.current.nom}}</h3>
        <h3 ng-if="!ctrl.current.id">Créer une nouvelle fiche de recrutement</h3>
        <div class="form">
            <form name="recrform">
                <div>
                    <label for="nom">Nom</label>
                    <input id="nom" type="text" class="form-control" ng-model="ctrl.current.nom" required />
                </div>
                <div>
                    <label for="prenom">Prénom</label>
                    <input id="prenom" type="text" class="form-control" ng-model="ctrl.current.prenom" />
                </div>
                <div>
                    <label for="services">Service</label>
                    <http-select ref="services" ng-model="ctrl.current.service_id"></http-select>
                </div>
                <div>
                    <label for="arrivee">Date d'arrivée</label>
                    <div class="input-group">
                        <input id="arrivee" type="text" uib-datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="ctrl.current.arrivee" ng-model-options="{timezone: '+0200'}" is-open="ctrl.arrivee_open" ng-required="true" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="ctrl.arrivee_open=!ctrl.arrivee_open">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div>
                    <label for="depart">Date de fin de contrat</label>
                    <div class="input-group">
                        <input id="depart" type="text" uib-datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="ctrl.current.depart" ng-model-options="{timezone: '+0200'}" is-open="ctrl.depart_open" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="ctrl.depart_open=!ctrl.depart_open">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div>
                    <label for="desc_mission">Description de la mission</label>
                    <textarea id="desc_mission" class="form-control" ng-model="ctrl.current.desc_mission"></textarea>
                </div>
                <div>
                    <label for="contrats">Type de contrat</label>
                    <http-select ref="contrats" ng-model="ctrl.current.type_contrat"></http-select>
                </div>
                <div>
                    <label for="lieux">Lieu d'affectation</label>
                    <http-select ref="lieux" ng-model="ctrl.current.lieu"></http-select>
                </div>
                <div>
                    <label for="logements">Logement</label>
                    <http-select ref="logements" ng-model="ctrl.current.logement"></http-select>
                </div>
            </div>
            <div class="navbar">
                <button type="button" class="btn btn-danger navbar-btn" ng-click="ctrl.remove()" ng-show="ctrl.current.id" tooltip-placement="right" uib-tooltip="Supprimer cette fiche">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-success navbar-btn navbar-right" ng-click="ctrl.save()" ng-disabled="!(recrform.$dirty&&recrform.$valid)" tooltip-placement="top" uib-tooltip="Enregistrer la fiche">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" class="btn btn-info navbar-btn navbar-right" ng-click="ctrl.clear()" tooltip-placement="left" uib-tooltip="Nettoyer la fiche">
                    <span class="glyphicon glyphicon-erase"></span>
                </button> 
            </div>
        </form>
    </div>
</div>
<msg-dsp></msg-dsp>
<script src="/static/js/app.js"></script>
</body>
</html>
