    <div class="col-lg-6">
        <div>
            <ul class="list-unstyled">
                <li ng-repeat="agent in ctrl.agents" 
                    class="recr_panel panel panel-primary" 
                    ng-click="ctrl.edit(agent.id)">
                    <div class="panel-heading">
                        <div class="panel-title">{{agent.login}}</div>
                    </div>
                    <div class="panel-body">
                        {{agent.email}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div ng-if="ctrl.current.id">
            <button class="btn btn-primary" ng-click="ctrl.clear()">Nouvel utilisateur</button>
            <hr />
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" ng-if="ctrl.current.id">Modification de la fiche de {{ctrl.current.login}}</div>
                <div class="panel-title" ng-if="!ctrl.current.id">Créer un nouvel utilisateur</div>
            </div>
            <div class="panel-body">
                <div class="form">
                    <form name="userForm">
                        <div class="form-group">
                            <label for="user_login">Login</label>
                            <input id="user_login" type="text" class="form-control" ng-model="ctrl.current.login" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="user_password">Mot de passe</label>
                            <input id="user_password" type="text" class="form-control" ng-model="ctrl.current.password" ng-required="!ctrl.current.id" />
                        </div>
                        <div class="form-group">
                            <label for="email">Adresse email</label>
                            <input id="email" type="email" class="form-control" ng-model="ctrl.current.email" required />
                        </div>
                        <div class="form-group">
                            <label>Rôles</label>
                            <ul class="list-unstyled">
                                <li ng-repeat="app in ctrl.applications track by $index">
                                <span style="display: inline-block; min-width: 10em;">{{app.nom}}</span><div class="btn-group">
                                    <label class="btn btn-default" ng-model="ctrl.add_user_applications(app.id)" ng-model-options="{'getterSetter': true}" uib-btn-radio="0">Aucun droit</label>
                                    <label class="btn btn-default" ng-model="ctrl.add_user_applications(app.id)" ng-model-options="{'getterSetter': true}" uib-btn-radio="2">Utilisateur</label>
                                    <label class="btn btn-default" ng-model="ctrl.add_user_applications(app.id)" ng-model-options="{'getterSetter': true}" uib-btn-radio="6">Administrateur</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="navbar">
                    <button type="button" class="btn btn-danger navbar-btn" ng-click="ctrl.remove()" ng-show="ctrl.current.id" tooltip-placement="right" uib-tooltip="Supprimer cette fiche">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="navbar-right" style="margin-right: 0px;">
                        <button type="button" class="btn btn-info navbar-btn" ng-click="ctrl.clear()" tooltip-placement="left" uib-tooltip="Nettoyer la fiche">
                            <span class="glyphicon glyphicon-erase"></span>
                        </button> 
                        <button type="button" class="btn btn-success navbar-btn" ng-click="ctrl.save()" ng-disabled="!(userForm.$dirty&&userForm.$valid)" tooltip-placement="left" uib-tooltip="Enregistrer la fiche">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
