    <div class="col-lg-6 hidden-print">
        <div class="panel">
            <div class="input-group">
                <span class="input-group-addon">Année de recrutement</span>
                <input type="number" class="form-control" ng-model="ctrl.annee_recr_list" />
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="ctrl.setAnnee()">afficher</button>
                </span>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Recrutements en {{ctrl.annee_recr_aff}}</h1>
            </div />
            <table class="table table-bordered table-hover" ng-if="ctrl.agents.length">
                <tr>
                    <th ng-click="ctrl.sort_agents_by('nom')"
                        >Nom
                        <small class="pull-right"><span class="glyphicon" ng-class="{
                            'glyphicon-chevron-down': ctrl.sort_order.nom === true,
                            'glyphicon-chevron-up': ctrl.sort_order.nom === false,
                            }"></span></small>
                    </th>
                    <th ng-click="ctrl.sort_agents_by('arrivee')">Arrivée
                        <small class="pull-right"><span class="glyphicon" ng-class="{
                            'glyphicon-chevron-down': ctrl.sort_order.arrivee === true,
                            'glyphicon-chevron-up': ctrl.sort_order.arrivee === false,
                            }"></span></small>
                    </th>
                    <th ng-click="ctrl.sort_agents_by('service_id')">Service
                        <small class="pull-right"><span class="glyphicon" ng-class="{
                            'glyphicon-chevron-down': ctrl.sort_order.service_id === true,
                            'glyphicon-chevron-up': ctrl.sort_order.service_id === false,
                            }"></span></small>
                    </th>
                </tr>
                <tr ng-repeat="agent in ctrl.agents" 
                    ng-class="{
                        'warning': ctrl.check_status(agent)==1, 
                        'success': ctrl.check_status(agent)==2,
                        'danger': ctrl.check_status(agent)==3
                    }"
                    ng-click="ctrl.editPage(agent.id)"
                    style="cursor: pointer;">
                    <th>
                        <span class="glyphicon glyphicon-pencil" ng-if="agent.__selected__"></span> {{agent.nom}} {{agent.prenom}}
                    </th>
                    <td>{{agent.arrivee|datefr}}</td>
                    <td>
                        <thesaurus ref="{{agent.service_id}}"></thesaurus>
                    </td>
                </tr>
            </table>
            <div class="panel-body" ng-if="!ctrl.agents.length">
                Aucun recrutement enregistré
            </div>
        </div>
    </div>
    <div class="col-lg-6 form-container">
        <div ng-if="ctrl.current.id" class="hidden-print">
            <div class="navbar">
                <button class="btn btn-primary navbar-btn navbar-right" ng-click="ctrl.clear()">Nouvelle fiche</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" ng-if="ctrl.current.id">Modification de la fiche de {{ctrl.current.prenom}} {{ctrl.current.nom}}</div>
                <div class="panel-title" ng-if="!ctrl.current.id">Créer une nouvelle fiche de recrutement</div>
            </div>
            <div class="panel-body">
                <div ng-if="ctrl.current.id">
                    <ul class="list-unstyled">
                        <li>Date de création de la fiche : {{ctrl.current.meta_create|datefr}}</li>
                        <li>Dernière modification de la fiche : {{ctrl.current.meta_update|datefr}}</li>
                    </ul>
                    <hr />
                </div>
                <div class="form">
                    <form name="recrForm">
                        <div class="form-group">
                            <label for="auteur">Créateur de la fiche</label>
                            <input id="auteur" type="text" class="form-control" ng-model="ctrl.current.meta_createur_fiche" required />
                            <p>Nom du créateur de la fiche ou référent pour les informations relatives à cette fiche de recrutement</p>
                        </div>
                        <div class="form-group">
                            <input id="notif" type="checkbox" ng-model="ctrl.current.ctrl_notif" />
                            <label for="notif">Notifier</label>
                            <p>Envoie une notification par e-mail aux administrateurs et aux personnes spécifiées</p>
                            <label>Autres personnes à notifier</label>
                            <http-list url='annuaire/entites/' urlfilters='?type=correspondant&result=email&col=email&filter=email' ng-model="ctrl.current.notif_list"></http-list>
                        </div>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input id="nom" type="text" class="form-control" ng-model="ctrl.current.nom" required />
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input id="prenom" type="text" class="form-control" ng-model="ctrl.current.prenom" />
                        </div>
                        <div class="form-group">
                            <label for="services">Service</label>
                            <http-select ref="thesaurus/ref/2" ng-model="ctrl.current.service_id"></http-select>
                        </div>
                        <div class="form-group">
                            <label for="contrats">Type de contrat</label>
                            <http-select ref="thesaurus/ref/4" ng-model="ctrl.current.type_contrat"></http-select>
                        </div>
                        <div class="form-group" ng-if="ctrl.current.type_contrat==25">
                            <label for="referent">Adresse e-mail du tuteur</label>
                            <input type="mail" class="form-control" ng-model="ctrl.current.referent" />
                        </div>
                        <div class="form-group" ng-if="ctrl.current.type_contrat==25">
                            <input type="checkbox" id="conv_sign" ng-model="ctrl.current.convention_signee" />
                            <label for="conv_sign">Convention signée</label>
                        </div>
                        <div class="form-group" ng-if="ctrl.current.type_contrat==25">
                            <input id="gratif" type="checkbox" ng-model="ctrl.setGratification" ng-model-options="{getterSetter: true}" /> 
                            <label for="gratif">Gratification</label>
                        </div>
                        <div class="form-group" ng-if="ctrl.current.type_contrat!=25">
                            <label for="ttrav">Catégorie</label>
                            <http-select ref="thesaurus/ref/38" ng-model="ctrl.current.categorie"></http-select>
                        </div>
                        <div class="form-group">
                            <label for="ttrav">Temps de travail</label>
                            <http-select ref="thesaurus/ref/32" ng-model="ctrl.current.temps_travail"></http-select>
                        </div>
                        <div class="form-group" ng-if="ctrl.current.temps_travail==37">
                            <label for="ttrav2">Temps de travail (autre)</label>
                            <input type="text" class="form-control" ng-model="ctrl.current.temps_travail_autre" />
                        </div>
                        <div class="form-group">
                            <label for="arrivee">Date d'arrivée</label>
                            <div class="input-group">
                                <input id="arrivee" type="text" uib-datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="ctrl.current.arrivee" ng-model-options="{timezone: '-0000'}" is-open="ctrl.arrivee_open" ng-required="true" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="ctrl.arrivee_open=!ctrl.arrivee_open">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div ng-if="ctrl.current.type_contrat!=22" class="form-group">
                            <label for="depart">Date de fin de contrat</label>
                            <div class="input-group">
                                <input id="depart" type="text" uib-datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="ctrl.current.depart" ng-model-options="{timezone: '-0000'}" is-open="ctrl.depart_open" ng-required="true" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="ctrl.depart_open=!ctrl.depart_open">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="desc_mission">Description de la mission</label>
                            <textarea id="desc_mission" class="form-control" ng-model="ctrl.current.desc_mission"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="lieux">Lieu d'affectation</label>
                            <http-select ref="thesaurus/ref/1" ng-model="ctrl.current.lieu"></http-select>
                        </div>
                        <div class="form-group">
                            <label for="res_adm">Résidence administrative</label>
                            <input id="res_adm" type="text" class="form-control" ng-model="ctrl.current.residence_administrative" />
                        </div>
                        <div class="form-group">
                            <label for="logements">Logement</label>
                            <http-select ref="thesaurus/ref/3" ng-model="ctrl.current.logement"></http-select>
                        </div>
                        <div class="form-group">
                            <label>Matériel à fournir</label>
                            <thesaurus-select ref="thesaurus/ref/26" ng-model="ctrl.current.materiel"></thesaurus-select>
                        </div>
                        <div class="form-group">
                            <label for="observations">Observations</label>
                            <textarea id="observations" class="form-control" ng-model="ctrl.current.observations"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="fichiers">Fichiers joints</label>
                            <file-upload url="/recrutement/upload" ng-model="ctrl.current.fichiers" is-upload-allowed="ctrl.user_is_admin"></file-upload>
                        </div>
                    </form>
                </div>
                <div class="navbar">
                    <button type="button" class="btn btn-danger navbar-btn" ng-click="ctrl.remove()" ng-show="ctrl.current.id" tooltip-placement="right" uib-tooltip="Supprimer cette fiche">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div class="navbar-right" style="margin-right: 0px;">
                        <button type="button" class="btn btn-info navbar-btn" ng-click="ctrl.clear()" tooltip-placement="left" uib-tooltip="Nettoyer la fiche">
                            <span class="glyphicon glyphicon-erase"></span>
                        </button> 
                        <button type="button" class="btn btn-success navbar-btn" ng-click="ctrl.save()" ng-disabled="!(recrForm.$dirty&&recrForm.$valid)" tooltip-placement="left" uib-tooltip="Enregistrer la fiche">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

