.msg-maincontainer{
    background-color: rgba(50,30,30,0.5);
    height: 100%;
    padding: 0;
    z-index: 9999;
}

.msg-maincontainer p{
    padding: 10px;
    margin: 5px;
    margin-bottom: 0;
    margin-left: 5px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
}

.msg-maincontainer-hidden{
    width: 0;
    transition: width 0.2s;
}

.msg-maincontainer-shown{
    width: 450px;
    padding-left: 5px;
    padding-right: 5px;
    transition: width 0.2s;
}

.msg-info{
    background-color: rgba(228, 228, 255, 1);
}
.msg-error{
    background-color: rgba(255, 108, 108, 1);
}
.msg-success{
    background-color: rgba(100, 235, 100, 1);
}

.msg-modalcontainer{
    background-color: rgba(50,30,30,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.msg-modalcontainer-msgcontainer{
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
}

.msg-modalcontainer-buttons{
    float: right;
}

.msg-modalcontainer-hidden{
    height: 0;
    width: 0;
    transition: height 0.2s;
}

.msg-modalcontainer-shown{
    height: 100vh;
    width: 100%;
    transition: height 0.2s;
}
