<div class="msg-maincontainer" ng-class="{'msg-maincontainer-hidden': !msgd.messages.length, 'msg-maincontainer-shown': msgd.messages.length}">
    <p ng-repeat="msg in msgd.messages track by $index" ng-class="{'msg-info': msg.type==0, 'msg-error': msg.type==1, 'msg-success': msg.type==2}">{{msg.content}}</p>
</div>
<div class="msg-modalcontainer" ng-class="{'msg-modalcontainer-hidden': !msgd.msg_shown, 'msg-modalcontainer-shown': msgd.msg_shown}" ng-click="msgd.dismiss()">
    <div class="msg-modalcontainer-msgcontainer" ng-if="msgd.msg_shown" ng-click="msgd.cancel_close($event)">
        <h1>{{msgd.modal_title}}</h1>
        <p>{{msgd.modal_message}}</p>
        <div class="msg-modalcontainer-buttons">
            <button ng-click="msgd.dismiss()" ng-if="msgd.modal_confirm">Cancel</button>
            <button ng-click="msgd.accept()">OK</button>
        </div>
    </div>
</div>
